<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="bg"  style=" height: 99vh; width: 1500px;"  fxLayout="row" fxLayoutAlign="center center" > 
        <div style="border: 5px solid black; height: 50%;width:50%; padding: 5px;"  fxLayout="row" fxLayoutAlign="center center">
            <div class="img" style=" height: 100%;width:50%;">
                <img src="../../../assets/employee_107704.png">
            
                
                <div class="adminbutton" xLayout="row" fxLayoutAlign="center center">
                    <button class="button button1" routerLink="/login">ADMIN</button>
                    
                </div> 
            </div>
            <div style=" height: 100%;width:50%;"> 
                <img src="../../../assets/30334.png">
                
                <div xLayout="row" fxLayoutAlign="center center">
                    <button class="button button1" routerLink="/employeelogin">EMPLOYEE</button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
